section.news#services
  .container
    h2.section-title Services

    p I'm currently available to help with any type of project. I can help you to specify your problem and solve this problem in the most cost-effective way. If this involves writing custom code, I can select the right technologies, and design and implement the software that solves your problem. I strive to develop applications that are both efficient and user-friendly.

    p I have been involved in a couple of startups including running my own operations-heavy delivery startup, so I'm familiar with the various hurdles of a company life from both the business and technical perspective. I can reason about the broader business context and help with product and operations.

    ul
      for service in public._data.services
        li.service
          h3.service__title #{service.title}:
          p.service__description #{service.description}


    p My work is subject to the <a href="assets/playbook.pdf">General Magic terms and conditions</a>. They're pretty reasonable, though ;-)
